{% extends "base_tmpl.html" %}

{% block header %}
    {% include "manual/header.html" %}
{% endblock %}

{% block main_content %}
    {% include "manual/content/index.html" %}
{% endblock %}

{% block pageLevelJs %}
    <script>
        let filters = {{ filters|safe }},
            evolution = {{ evolution|safe }},
            brand = {{ brand|safe }}
    </script>

    <script type="module">
        import SearchManual from "/static/js/search/manual/index.js"

        SearchManual.init()
    </script>
{% endblock %}