<div class="container-fluid">
    <div class="copyright float-right">
        ©
        <script>
            document.write(new Date().getFullYear())
        </script>
        made with <i class="material-icons">favorite</i> by Maria Victoria Mora Navarrete 2021
    </div>
</div>