<meta charset="utf-8">
<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link href="/static/css/template/material-dashboard.css?v=2.1.2" rel="stylesheet" />
<link href="/static/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />

<!-- BEGIN FAVICON -->
<link rel="shortcut icon" href="/static/assets/favicon.ico" />
<!-- END FAVICON -->