<div class="sidebar-wrapper">

    <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
        Creative Tim
    </a></div>
    <ul class="nav">
        <li class="nav-item {{ "active" if url_for('search.search_manual') == request.path or url_for('search.launch_search') == request.path }}">
            <a class="nav-link" href="{{ url_for('search.search_manual') }}">
                <i class="material-icons">search</i>
                <p>Search</p>
            </a>
        </li>

        <li class="nav-item {{ "active" if url_for('user.user_crud_pages') == request.path }}">
            <a class="nav-link" href="{{ url_for('user.user_crud_pages') }}">
                <i class="material-icons">settings</i>
                <p> Admin</p>
            </a>
        </li>
    </ul>
</div>