<div class="card card-chart">
    <div class="card-header card-header-info">
        <div class="ct-chart" id="brand_chart"></div>
    </div>
    <div class="card-body">
        <h4 class="card-title">Offers by Brand</h4>
        <p class="card-category">Show Nº Offers for each brand</p>
    </div>
</div>