<div class="card card-chart">
    <div class="card-header card-header-success">
        <div class="ct-chart" id="evolution_chart"></div>
    </div>
    <div class="card-body">
        <h4 class="card-title">Price evolution</h4>
        <p class="card-category">Evolution average prices in date ranges selected</p>
    </div>
</div>