<form action="{{ url_for('search.launch_search') }}" method="post" class="ng-untouched ng-pristine ng-valid" id="search_form">
    <div class="card">
        <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
                <i class="material-icons">search</i>
            </div>
            <h4 class="card-title">Search Form</h4>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="start_date">Start date</label>
                    <input type="date" class="form-control" id="start_date" name="start_date" required>
                </div>

                <div class="form-group col-md-1">
                    <label for="start_time">Start time</label>
                    <input type="time" class="form-control" id="start_time" name="start_time" required>
                </div>

                <div class="form-group col-md-4">
                    <label for="end_date">End date</label>
                    <input type="date" class="form-control" id="end_date" name="end_date" required>
                </div>

                <div class="form-group col-md-1">
                    <label for="end_time">End time</label>
                    <input type="time" class="form-control" id="end_time" name="end_time" required>
                </div>

                <div class="form-group col-md-2">
                    <label for="days">Days</label>
                    <input type="number" min="1" class="form-control" id="days" name="days" value="1" required>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="offices">Offices</label>
                    <select multiple class="form-control selectpicker" data-style="btn btn-link" id="offices" name="offices">
                        <option>Barcelona Airport (BCN)</option>
                        <option>Malaga Airport (AGP)</option>
                        <option>Madrid Airport (MAD)</option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label for="sites">Sites</label>
                    <select multiple="" class="form-control selectpicker" data-style="btn btn-link" id="sites" name="sites">
                        <option>Site 1</option>
                        <option>Site 2</option>
                        <option>Site 3</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="reset" class="btn btn-fill mat-raised-button mat-button-base">
                <span class="mat-button-wrapper">Cancel</span>
            </button>

            <button type="submit" class="btn btn-fill btn-primary mat-raised-button mat-button-base">
                <span class="mat-button-wrapper">Search</span>
            </button>
        </div>
    </div>
</form>