<div class="row">
    <div class="col-md-12">
        {% include "manual/content/form.html" %}
    </div>

    <div class="col-md-12">
        {% include "manual/content/targets.html" %}
    </div>

    <div class="col-md-6">
        {% include "manual/content/evolution.html" %}
    </div>

    <div class="col-md-6">
        {% include "manual/content/brand.html" %}
    </div>

    <div class="col-md-12">
        {% include "manual/content/table.html" %}
    </div>
</div>