<div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title">Details</h4>
        <p class="card-category">Details for all results obtained</p>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover">
            <thead class="text-warning">
            <tr>
                <th>Date</th>
                <th>Office</th>
                <th>Site</th>
                <th>Brand</th>
                <th>Model</th>
                <th class="text-right">Price</th>
            </tr>
            </thead>
            <tbody>
            {% for t in table %}
                <tr>
                    <td>{{ t.date }}</td>
                    <td>{{ t.office }}</td>
                    <td>{{ t.site }}</td>
                    <td>{{ t.brand }}</td>
                    <td>{{ t.model }}</td>
                    <td class="text-right">
                        {{ t.price }} €
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>