{% set colors = ['success', 'info', 'warning', 'danger'] %}

<div class="row">
    {% for data in targets %}
    <div class="col-md-4">
        <div class="card card-stats">
            <div class="card-header card-header-{{ colors[loop.index - 1] }} card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">store</i>
                </div>
                <p class="card-category">{{ data.site }}</p>
                <h3 class="card-title">{{ data.price }}
                    <small>€</small>
                </h3>
            </div>
        </div>
    </div>
    {% endfor %}
</div>