<!DOCTYPE html>
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <title> App | {{subtitle}}</title>
        {% block pageLevelCss %}{% endblock %}
        {% include "common/__head_common.html" %}
    </head>
    <!-- END HEAD -->

    <body>
        <div class="wrapper">
         <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
            {% block menu %}
                {% include "common/__menu.html" %}
            {% endblock %}
        </div>

        <div class="main-panel">
            {% block header %}
                {% include "common/__header.html" %}
            {% endblock %}

            <div class="content">
                <div class="cotainenr-fluid">
                    {% block main_content %}{% endblock %}
                </div>
            </div>

            <footer class="footer">
                {% include "common/__footer.html" %}
            </footer>

        </div>

        {% block pageLevelPlugins %}{% endblock %}
        {% block pageLevelJs %}{% endblock %}
        {% include "common/__common_js.html" %}
    </body>
</html>