<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <link rel="stylesheet" type="text/css" href="/static/css/util.css">

    <!-- BEGIN FAVICON -->
    <link rel="shortcut icon" href="/static/assets/favicon.ico" />
    <!-- END FAVICON -->

</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
            <form class="login100-form validate-form" action="{{ url_for("user.new", redirect="/index") }}" method="post">
                <span class="login100-form-title p-b-55"> REGISTERED</span>

                {% with success = get_flashed_messages(category_filter=["success"]) %}
                    {% if success %}
                        {%- for message in success %}
                            <div style="width:100%" class="alert alert-success alert-dismissible fade show" role="alert">
                                <span>{{ message }} <a href="{{url_for('index')}}">return home</a> </span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor -%}
                    {% endif %}
                {% endwith %}

                {% with error = get_flashed_messages(category_filter=["error"]) %}
                    {% if error %}
                        {%- for message in error %}
                            <div style="width:100%" class="error alert alert-danger alert-dismissible fade show" role="alert">
                                <p><strong>Error:</strong> {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </p>
                            </div>
                        {% endfor -%}
                    {% endif %}
                {% endwith %}

                <label class="label-input100">Your Name *</label>
                <div class="wrap-input100 rs1 m-b-16">
                    <input class="input100" type="text" name="name" placeholder="Enter your name">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 rs1 m-b-16">
                    <input class="input100" type="text" name="lastname" placeholder="Enter your last name">
                    <span class="focus-input100"></span>
                </div>

                <label class="label-input100">Telephone *</label>

                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="number" name="phone" placeholder="Enter your telephone">
                    <span class="focus-input100"></span>
                </div>

                <label class="label-input100">Date of birth *</label>

                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="date" name="birth_date" placeholder="Enter your birthdate">
                    <span class="focus-input100"></span>
                </div>

                <label class="label-input100">Salary *</label>

                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="number" name="salary" placeholder="Enter your salary">
                    <span class="focus-input100"></span>
                </div>

                <label class="label-input100">User *</label>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="username" placeholder="Enter user">
                    <span class="focus-input100"></span>
                </div>

                <label class="label-input100">Password *</label>
                <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
                    <input class="input100" type="password" name="password" placeholder="Enter password">
                    <span class="focus-input100"></span>
                </div>
                <div class="container-login100-form-btn p-t-25">
                    <button class="login100-form-btn">
                        REGISTERED
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>