<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <link rel="stylesheet" type="text/css" href="/static/css/util.css">

    <!-- BEGIN FAVICON -->
    <link rel="shortcut icon" href="/static/assets/favicon.ico" />
    <!-- END FAVICON -->
</head>

<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login101 p-l-50 p-r-50 p-t-77 p-b-30">
            <form action="{{ url_for("sing_in") }}" method="post">
                <span class="login100-form-title p-b-55"> LOGIN</span>

                {% if error %}
                    <div style="width:100%" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <p><strong>Error:</strong> {{ error }}>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </p>
                    </div>
                {% endif %}

                <br>

                <div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
                    <input class="input101" type="text" id="username" name="username" placeholder="Enter user">
                    <span class="focus-input101"></span>
                    <span class="symbol-input100">
							<span class="lnr lnr-user"></span>
						</span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
                    <input class="input101" type="password" id="password" name="password" placeholder="Enter password">
                    <span class="focus-input101"></span>
                    <span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
                </div>
                <input type="submit" class="login100-form-btn">

                <div class="text-center w-full p-t-115">
						<span class="txt1">
							Not a member?
						</span>

                    <a class="txt1 bo1 hov1" href="{{ url_for("register") }}">
                        Sign up now
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>