<form action="{{ url_for('user.new', redirect="/user/crud") }}" method="post" class="ng-untouched ng-pristine ng-valid" id="user_form">
    <input type="hidden" id="id_user" name="id_user">

    <div class="card">
        <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
                <i class="material-icons">supervised_user_circle</i>
            </div>
            <h4 class="card-title">User Form</h4>
        </div>

        <div class="card-body">
            {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span>The username already exists in the system. Please try another name</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter a username" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter a password">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Ej: Victoria" required>
                </div>

                <div class="form-group col-md-4">
                    <label for="lastname">Last names</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Ej: Mora Navarrete" required>
                </div>

                <div class="form-group col-md-4">
                    <label for="phone">Phone</label>
                    <input type="number" class="form-control" id="phone" name="phone" placeholder="Ej: 600 111 121" required>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Ej: vmora@gmail.com" required>
                </div>

                <div class="form-group col-md-4">
                    <label for="salary">Salary</label>
                    <input type="number" class="form-control" id="salary" name="salary" step="100" min="1000" value="1000" required>
                </div>

                <div class="form-group col-md-4">
                    <label for="birth_date">Birthday</label>
                    <input type="date" class="form-control" id="birth_date" name="birth_date" required>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="reset" class="btn btn-fill mat-raised-button mat-button-base">
                <span class="mat-button-wrapper">Cancel</span>
            </button>

            <button type="submit" class="btn btn-fill btn-primary mat-raised-button mat-button-base">
                <span class="mat-button-wrapper">Submit</span>
            </button>
        </div>
    </div>
</form>

