<div class="card">
    <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
            <i class="material-icons">manage_accounts</i>
        </div>
        <h4 class="card-title">User List</h4>
    </div>

    <div class="card-body">
        <table id="user_list" class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th>Contact</th>
                    <th class="text-right">Salary</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>

            <tbody>
            {% for u in users %}
                <tr>
                    <td>{{ u.username }}</td>
                    <td>{{ u.name }}</td>
                    <td>{{ u.lastname }}</td>
                    <td>
                        <b>Email:</b> {{ u.email }} <br/>
                        <b>Phone:</b> {{ u.phone }} <br/>
                        <small>
                            <i class="material-icons">cake</i>
                            <span style="position: absolute; margin-top: 4px;">{{ u.birth_date }}</span>
                        </small>
                    </td>
                    <td class="text-right salary">{{ u.salary }}</td>
                    <td class="text-center td-actions">
                        <button type="button" rel="tooltip" class="btn btn-success" data-action="edit" data-id="{{ u.id_user }}">
                            <i class="material-icons">edit</i>
                        </button>
                        <button type="button" rel="tooltip" class="btn btn-danger" data-action="delete" data-id="{{ u.id_user }}">
                            <i class="material-icons">close</i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>